/* Aqui ficarão colorações e cores padrão com orientação a objeto para facilitar a edição */

/* colorações */

:root {
    --cor-black: #0E0B16;
    --cor-purple: #A239CA;
    --cor-blue: #4717F6;
    --cor-star: #E7DFDD;
    --cor-star-disabled: #a8a3a2;
}

/* configurações */
body{
    background-color: var(--cor-black) !important;
    width: 100vw !important;
    max-width: 100%;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    color: var(--cor-star) !important;
}

nav.navbar, nav li.nav-item.dropdown ul.dropdown-menu {
    background-color: var(--cor-black);
}

nav li.nav-item a.nav-link, 
nav li.nav-item.dropdown ul.dropdown-menu a.dropdown-item {
    color: var(--cor-star) !important;
    transition: all 0.5s !important;
}

nav li.nav-item a.nav-link.disabled,
nav li.nav-item.dropdown ul.dropdown-menu a.dropdown-item.disabled {
    color: var(--cor-star-disabled) !important;
}

nav li.nav-item a.nav-link:hover, 
nav li.nav-item.dropdown ul.dropdown-menu a.dropdown-item:hover {
    color: var(--cor-purple) !important;
}

nav li.nav-item.dropdown ul.dropdown-menu a.dropdown-item:hover, 
nav li.nav-item.dropdown ul.dropdown-menu a.dropdown-item:active {
    background-color: transparent !important;
    color: var(--cor-purple) !important;
    border-left:solid 2rem  var(--cor-purple);
    /* padding-left: 2rem !important; */
    padding-right: 0rem !important;
}

nav li.nav-item.dropdown ul.dropdown-menu, 
nav li.nav-item.dropdown ul.dropdown-menu hr.dropdown-divider {
    border-color: var(--cor-purple);
}

button {
    transition: all 0.6s !important;
}

button:hover {
    transform: scaleX(0.85) !important;
}

.title-theme{
    border-bottom: solid 0.5rem var(--cor-purple);
}